<!DOCTYPE html>
<html>
  <%= render('layouts/head') %>

  <body>
    <%= render('layouts/header') %>
    <%= yield %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLEMAP"]%>&callback=initMap"></script>
  </body>
</html>
